@model IEnumerable< H_Invoice.Models.SALE2>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend align="right">
        بيانات العميل
    </legend>
    <div class="container" style="text-align:right;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>العميل</label>
                    @Html.DropDownList("GL_NAME", new SelectList(ViewBag.customers ,"Value","Text" , @ViewBag.SelectedCustomer), "أختر عميل", new { @class = "form-control d-inline" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>الـتـاريـخ</label>
                    <input id="date" class="form-control d-inline"  value="@ViewBag.sale1[0].DOC_DATE.ToString("MM/dd/yyyy")">

                </div>
            </div>

        </div>
    </div>
</fieldset>
<fieldset>
    <legend align="right">
        بيانات الصنف
    </legend>
    <div class="container" style="text-align:right;">

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>الصنف</label>
                            @Html.DropDownList("Items", new SelectList(ViewBag.items, "Value", "Text"), "أختر الصنف", new { @class = "form-control" })


                        </div>
                    </div>
                    <div hidden class="col-md-6">
                        <div class="form-group">
                            <label>الباركود </label>
                            <input id="barcode" name="barcode" disabled class="form-control" type="number" value="">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>سعر الوحدة </label>
                            <input id="UnitPrice" name="UnitPrice" disabled class="form-control" type="number" value="0.0">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>الكمية </label>
                            <input id="Quantity" name="Quantity" class="form-control" type="number" value="0.0">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>الإجمالي</label>
                            <input id="Total" name="Total" disabled class="form-control" type="number" value="0.0">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <input disabled="disabled" style="margin-top:20px;" id="BtnAddList" name="BtnAddList" class=" btn btn-success form-control" type="button" value="إضافة">

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">

                <div class="row" style="overflow: scroll; scroll-behavior:smooth; min-height:300px; max-height: 300px;">
                    <table id="TblItems" class="table table-hover" style="width:100% ;" text-align:center;">
                        <thead>
                            <tr>
                                <th hidden>
                                    Item Id
                                </th>
                                <th hidden>
                                    barcode
                                </th>

                                <th>رقم الصنف</th>
                                <th>أسم الصنف</th>
                                <th>السعر</th>
                                <th>الكمية</th>

                                <th>الاجمالي</th>
                                <th>عمليات</th>
                            </tr>
                        </thead>
                        <tbody>

                            </td>
                        
                        
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden>@item.PARTNO</td>
                                <td hidden>@item.barcode</td>
                                <td>@item.PARTNO</td>
                                <td>@item.partname</td>
                                <td>@item.cost</td>
                                <td>@item.QTY</td>

                                <td>@(item.cost * item.QTY)</td>
                                <td><input type='button' value='حذف' name='Remove' class='btn btn-danger' onclick='RemoveItem(this)' /></td>
                            
                            </tr>

                        }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</fieldset>
<fieldset align="right">
    <legend align="right">الإجمالي</legend>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="FinalDiscount">الخصم</label>
                    <input id="FinalDiscount" name="FinalDiscount" class="form-control" type="number" value="@ViewBag.sale1[0].DISCOUNT">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>الصافي</label>
                    <input id="FinalMoney" name="FinalMoney" disabled class="form-control" type="number" value="@ViewBag.sale1[0].AMOUNT">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>الإجمالي</label>
                    <input id="FinalTotal" name="FinalTotal" disabled class="form-control" type="number" value="0.0">

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    <textarea id="Notes" style=" min-width: 600px !important; !important;" placeholder="ملاحظات" class="form-control">@ViewBag.sale1[0].rem2</textarea>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <br />
                    <br />
                    <input data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#divSave" style=" margin-right:160px; width: 100% !important;" id="btnSave" name="btnSave" class="form-control btn btn-success" type="button" value="حفظ الفاتورة">

                </div>
            </div>
        </div>
    </div>

</fieldset>
<div id="divSave" class="modal  fade " role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times</button>
                <h4 class="modal-title"> payment</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label> طباعة الفاتورة</label>
                            <input class="" type="checkbox" id="print" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>ارسال الفاتورة</label>
                            <input class=" " type="checkbox" id="send" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-success" id="btnSubmit" value="حفظ الفاتورة">حفظ الفاتورة</button>
                <button class="btn btn-danger" id="btnClose" data-dismiss="modal" value="close">الغاء</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>

        $(document).ready(function () {

            $("#date").datepicker({ dateFormat: "dd/mm/yy" }).val()


            finalTotal();
            $("#Items").change(function () {
                var itemId = $("#Items").val();
                if ($("#Items option:selected ").text() == "أختر الصنف") {
                    $("#BtnAddList").attr("disabled", "disabled");
                }
                else {
                    $("#BtnAddList").removeAttr("disabled");
                    GetItemUnitPrice(itemId);
                    GetItemBarcode(itemId);
                }
            });

            $("input[type=number]").change(function () {
                CalcTotal();
            });

            $("input[name=FinalDiscount]").change(function () {
                finalTotal();
            });

            $("#BtnAddList").click(function () {
                AddItemToList();
                CalcTotal();
                finalTotal();
            });
            $("#btnSubmit").click(function () {
                if ($("#GL_NAME option:selected ").text() == "أختر عميل") {
                    alert("الرجاء قم باختيار عميل");
                }
                else {
                    final();
                }

            });
        });

        function AddItemToList() {

            var TblItems = $("#TblItems");
            var UnitPrice = $("#UnitPrice").val();
            var Quantity = $("#Quantity").val();
            // var Discount = $("#Discount").val();
            var ItemId = $("#Items").val();
            var ItemName = $("#Items option:selected ").text();
            var barcode = $("#barcode").val();
            var Total = (UnitPrice * Quantity); //- Discount;
            var row = "<tr><td hidden>" + ItemId + "</td><td hidden >" + barcode + "</td><td>" + ItemId + "</td><td>" + ItemName + "</td><td>" + parseFloat(UnitPrice).toFixed(2) + "</td><td>" + Quantity + "</td><td>" + parseFloat(Total).toFixed(2) + "</td><td><input type='button' value='حذف' name='Remove' class='btn btn-danger' onclick='RemoveItem(this)' /></td></tr>";
            TblItems.append(row);
        }

        function CalcTotal() {
            var UnitPrice = $("#UnitPrice").val();
            var Quantity = $("#Quantity").val();
            //var Discount = $("#Discount").val();
            var Total = (UnitPrice * Quantity);

            $("#Total").val(parseFloat(Total).toFixed(2));

        }

        function RemoveItem(itemId) {
            $(itemId).closest('tr').remove();
            finalTotal()
        }

        function zeroes() {
            //$("#UnitPrice").val(parseFloat(0).toFixed(2));
            $("#Total").val(parseFloat(0).toFixed(2));

        }

        function GetItemUnitPrice(itemId) {
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: { itemId: itemId },
                url: '/invoice/GetItemUnitPrice',
                success: function (data) {
                    $("#UnitPrice").val(parseFloat(data).toFixed(2));
                    zeroes();
                    CalcTotal();
                },
                error: function () {
                    alert("خطاء")
                }

            });



        }

        function GetItemBarcode(itemId) {
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: { itemId: itemId },
                url: '/invoice/GetItemBarcode',
                success: function (data) {
                    $("#barcode").val(data);
                    //zeroes();
                    //CalcTotal();
                },
                error: function () {
                    alert("خطاء")
                }

            });
        }
        function finalTotal() {
            var FinalTotal = 0.00;
            $("#TblItems").find("tr:gt(0)").each(function () {
                var t = parseFloat($(this).find("td:eq(6)").text());
                FinalTotal += t;

            });
            var disc = $("#FinalDiscount").val();
            var FinalMoney = FinalTotal - disc;
            $("#FinalTotal").val(parseFloat(FinalTotal).toFixed(2));
            $("#FinalMoney").val(parseFloat(FinalMoney).toFixed(2));
        }

        function final() {
            var a = $('#TblItems tr').length;
            if (a - 1 == 0) {
                alert("لم يتم اضافة اصناف في الفاتورة");
                return;
            }
            var OrderViewModel = {};
            var listOfOrderDetails = new Array();
            OrderViewModel.CustomerId = $("#GL_NAME").val();
            OrderViewModel.CustomerName = $("#GL_NAME option:selected ").text();
            OrderViewModel.DATE = $("#date").val();
            OrderViewModel.Discount = $("#FinalDiscount").val();
            OrderViewModel.Total = $("#FinalMoney").val();
            OrderViewModel.Notes = $("#Notes").val();
            OrderViewModel.DOC_NO = @ViewBag.sale1[0].DOC_NO
            OrderViewModel.br_id = @ViewBag.sale1[0].br_id

            $("#TblItems").find("tr:gt(0)").each(function () {
                var OrderDetailsViewModel = {};

                OrderDetailsViewModel.barcode = $(this).find("td:eq(1)").text();
                OrderDetailsViewModel.ItemId = $(this).find("td:eq(2)").text();
                OrderDetailsViewModel.ItemName = $(this).find("td:eq(3)").text();

                OrderDetailsViewModel.ItemPrice = $(this).find("td:eq(4)").text();
                OrderDetailsViewModel.Quantity = $(this).find("td:eq(5)").text();
                OrderDetailsViewModel.Total = $(this).find("td:eq(6)").text();
                listOfOrderDetails.push(OrderDetailsViewModel);
            });
            OrderViewModel.orderDetails = listOfOrderDetails;

            $.ajax({
                async: true,
                type: 'POST',
                method:'POST',
                dataType: 'JSON',
                contentType: 'application/json charset=utf-8',
                data: JSON.stringify(OrderViewModel) ,
                url: '/invoice/Up',
                success: function (data) {
                    if (data != "") {
                        alert(data);
                        noty();

                        if ($('#print').is(":checked")) {
                            window.open ("print/" + data);
                        }
                        if ($('#send').is(":checked")) {
                            window.open("send/" + data);
                        }
                        else {
                            //location.reload();
                        }

                    }
                },
                error: function () {
                    alert("خطاء في حفظ البانات");
                }
            });

            function send() {
                $.ajax({
                    async: true,
                    type: 'POST',
                    method: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json charset=utf-8',
                    data: { id: 1, send_rem:'sd'},
                    url: '/invoice/send',
                    success: function (data) {
                        if (data != "") {
                            alert(data);
                            noty();

                            if ($('#print').is(":checked")) {
                                window.open("print/" + data);
                            }
                            if ($('#send').is(":checked")) {
                                window.open("send/" + data);
                            }
                            else {
                                //location.reload();
                            }

                        }
                    },
                    error: function () {
                        alert("خطاء في حفظ البانات");
                    }


                });
            }

            function noty() {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                    Toast.fire({
                        icon: 'success',
                        title: 'تم حفظ الفاتورة بنجاح'
                    })

            }
        }
    </script>
}


