@model IEnumerable<H_Invoice.Models.SALE2>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    Double total = 0;
    int n = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="text-align :right;">

            <div class="callout callout-info">
                <h5><i class="fas fa-info"></i> ملحوظة:</h5>
                يتم إرسال الفواتير التي لم يتجاوز تاريخ اصدارها 7 ايام من التاريخ الحالي.
            </div>

            <!-- Main content -->
            <div class="invoice p-3 mb-3" style="text-align :right;">
                <!-- title row -->
                <div class="row" style="min-height: 100px; border:1px;">
                    فاتورة بيع
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-6 invoice-col">

                        <div> مسلسل :  @ViewBag.sale1[0].DOC_NO </div>
                        <div> رقم الفاتورة : @ViewBag.sale1[0].DOC_NO</div>
                        <div> التاريخ : @ViewBag.sale1[0].DOC_DATE.ToString("dd/MM/yyyy")</div>

                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">

                        <div> اسم العميل : @ViewBag.sale1[0].NAME</div>
                        <div> نوع الفاتورة : آجل</div>
                        <div>اسم البائع :  @ViewBag.sale1[0].Sname</div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Table row -->
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>مسلسل</th>
                                    <th>رقم الصنف</th>
                                    <th>أسم الصنف</th>
                                    <th>الوحدة</th>
                                    <th>الكمية</th>
                                    <th>السعر</th>
                                    <th>الاجمالي</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(n= n+1)</td>
                                        <td>@item.PARTNO</td>
                                        <td>@item.partname</td>
                                        <td>@item.unit</td>
                                        <td>@item.QTY</td>
                                        <td>@item.cost</td>
                                        <td>@(item.PRICE*item.QTY)</td>
                                    </tr>
                                    total = total + Convert.ToDouble(item.PRICE * item.QTY);
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                   

                   
                </div>
                <!-- /.row -->
                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-12">



                        @using (Html.BeginForm("send", "invoice", FormMethod.Post))
                        {
                        <div class="row">
                            <div class="col-6">
                                <p class="lead">Amount Due 2/22/2014</p>

                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th style="width:50%">Subtotal:</th>
                                            <td>@total</td>
                                        </tr>
                                        <tr>
                                            <th>ضريبة القيمة المضافة  : </th>
                                            <td>@ViewBag.sale1[0].TAX1</td>
                                        </tr>

                                        <tr>
                                            <th>ضريبة  إضافية  : </th>
                                            <td>@ViewBag.sale1[0].tax2</td>
                                        </tr>
                                        <tr>
                                            <th>الخصم :</th>
                                            <td>@ViewBag.sale1[0].DISCOUNT</td>
                                        </tr>
                                        <tr>
                                            <th>الصافي :</th>
                                            <td>@ViewBag.sale1[0].AMOUNT</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <input id="invoicesId"
                                   name="invoicesId"
                                   type="hidden"
                                   value="@ViewBag.sale1[0].DOC_NO" />

                            <div class="col-6">
                                <label>ملاحظات</label>
                                <textarea name="send_rem" class="form-control"></textarea>
                            </div>
                        </div>
                        
                            <a href="@Url.Action("print", "invoice", new { id = @ViewBag.sale1[0].DOC_NO })" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> طباعة</a>


                            <button type="submit" class="btn btn-success ">
                                <i class="fa fa-credit-card"></i> ارسال الفاتورة
                            </button>


                        }

                        <!--<button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
        <i class="fas fa-download"></i> Generate PDF
    </button>  -->
                    </div>
                </div>
            </div>
            <!-- /.invoice -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->