@model H_Invoice.Models.SALE1

<div>
    <h4>SALE1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.br_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOC_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOC_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BILL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOC_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOC_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOC_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOC_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BR_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BR_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISC_RATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISC_RATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISCOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISCOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAX1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAX1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tax2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tax2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vou_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vou_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.br_id_fromNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_id_fromNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.br_id_toname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_id_toname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_cur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_cur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_cur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_cur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate_cur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate_cur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rec_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rec_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plan_pay_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plan_pay_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.act_pay_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.act_pay_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pay_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISC_RATE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISC_RATE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISCOUNT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISCOUNT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rem1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rem1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rem2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rem2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insp_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insp_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insp_User_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insp_User_login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disc0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disc0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tax1_pct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tax1_pct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_vech_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_vech_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_rem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_rem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dliv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dliv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dliv_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dliv_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dliv_rem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dliv_rem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.old_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.old_cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
